$color-white:white;
$color-black:black;
$color-gray:gray;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@mixin roboto {
  font-family: 'Roboto', sans-serif ;
}
body {
  margin: 0 auto;
}

.main {
  background: url('../images/background.jpg') no-repeat transparent;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  height: 100%;

  &-menu {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin:0;
    &__logo {
      height: 17vh;
      width: 20%;
    }

    height: 17vh;
    width: 100%;
    border: 1px $color-gray solid;
    border-right:none;
    background-color: rgba(0,0,0, .4);

  // -------------------------------------------------/ nav bar --------------------------------------------------//

    &-nav {
      display: flex;
      align-items: center;
      width: 55%; 
    }
    @media (max-width: 768px) {
      justify-content: space-between;
      //overflow: scroll;
      position: static;
      &__logo {
        height: 50px;
        width: 200px;
        align-self: center;
        margin-left:40%; 
      }
      &-nav {
        display:none;
      }
    }

    &-nav-list {
      width: 100%;
      justify-content: space-between;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      
      &__link {
        text-decoration: none;
        color:$color-white;
        font-size: 16px;
        transition: color .2s linear;
        @media (min-width: 769px) and (max-width: 935px) {
          font-size: 12px;
        }
      }
      &__link::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-gray;
        display:none;
      }

      &__link:hover {
        color: $color-gray;
      }

      &__link:hover:after {
        display: block;
      }

    }
    
  }
  // --------------------------------/ nav bar -------------------------------------------------------------------//

  &-content {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }



    &-statistics {
      margin-right: 2%;
      display: flex;
      height: 80vh;
      width: 27%;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        width: 50%;
        margin:0;
      }



      &-box1,&-box2 {
        &-block1 {
          background: linear-gradient(-45deg, rgba(255,255,255,0.05) ,transparent 60%);
          border-radius: 5%;
        }
        &-block2 {
          background: linear-gradient(-135deg, rgba(255,255,255,0.05) ,transparent 60%);
          border-radius: 5%;
        }
        &-block3 {
          background: linear-gradient(45deg, rgba(255,255,255,0.05) ,transparent 60%);
          border-radius: 5%;
        }
        &-block4 {
          background: linear-gradient(135deg, rgba(255,255,255,0.05) ,transparent 60%);
          border-radius: 5%;
        }

        &-block1:hover {
          background: linear-gradient(-45deg, rgba(255,255,255,0.2) ,transparent 60%);
        }
        &-block2:hover {
          background: linear-gradient(-135deg, rgba(255,255,255,0.2) ,transparent 60%);
        }
        &-block3:hover {
          background: linear-gradient(45deg, rgba(255,255,255,0.2) ,transparent 60%);
        }
        &-block4:hover {
          background: linear-gradient(135deg, rgba(255,255,255,0.2) ,transparent 60%);
        }

        &-block1,
        &-block2,
        &-block3,
        &-block4 {
          //transform: translate(-50%,-50%);
          //box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
          width: 80%;
          
        }


        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 50%;
      &-block {
        display:flex;
        align-items: space-between;
        &__title {
          @media (max-width: 768px) {
            font-size: 10px;
          }
          @media (min-width: 769px) and (max-width: 935px) {
            font-size: 12px;
          }
          color: $color-white;
          @include roboto;
          font-size: 16px;
          text-align: center;
          opacity: 0.7;
        }

        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $color-white;
          &__title {
            @media (max-width: 768px) {
              font-size: 32px;
            }
            @media (min-width: 769px) and (max-width: 935px) {
              font-size: 40px;
            }
            @include roboto;
            font-size: 46px;
            
          }
          &__subtitle {
            @media (max-width: 768px) {
              font-size: 10px;
            }
            @media (min-width: 769px) and (max-width: 935px) {
              font-size: 12px;
            }
            color: $color-white;
            @include roboto;
            font-size:  16px;
            opacity: 0.7;
          }
        }
      }
    }
    }

    &-adventure {
      display: flex;
      height: 80vh;
      flex-direction: column;
      justify-content: center;
      margin-left: 15%;
      &-text {
        &__title {
          @media (max-width: 768px) {
            font-size: 42px;
          }
          @media (min-width: 769px) and (max-width: 935px) {
            font-size: 48px;
          }
          font-size: 56px;
          @include roboto;
          background: linear-gradient(to right,#fff,rgb(255, 72, 0));
          -webkit-background-clip:text;
          -webkit-text-fill-color: transparent;
        }
        &__subtitle {
          @media (min-width: 769px) and (max-width: 935px) {
            font-size: 20px;
          }
          @media (max-width: 768px) {
            font-size: 18px;
          }
          @include roboto;
          background: linear-gradient(to right,#fff,rgb(255, 72, 0));
          -webkit-background-clip:text;
          -webkit-text-fill-color: transparent;
          font-size: 20px;
        }
        margin-bottom: 100px;
      }
      &__button {
          margin: 0 auto;
          top: 50%;
          margin-left: 40%;
          left: 50%;
          width: 50%;
          font-size: 28px;
          height: 40px;
          background: none;      
          transform: translate(-50%,-50%);
          color:$color-white;
          text-align: center;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          text-decoration: none;
          overflow: hidden;
      }

      &__button:before {
          content:"";
          top:2px;
          left:2px;
          bottom: 2px;
          width: 50%;
          background: rgba(255,255,255,0.05 );
          
        }
        &__button span:nth-child(1) {
          position: absolute;
          top: 0;
          left:0;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #0c002b,#1779ff);
          animation: animate1 linear 2s infinite;

        }
        @keyframes animate1 {
          0%
          {
            transform: translateX(-100%);
          }

          100%
          {
            transform: translateX(100%);
          }
        }

        &__button span:nth-child(2) {
          position: absolute;
          top: 0;
          right:0;
          width: 2px;
          height: 100%;
          background: linear-gradient(to bottom, #0c002b,#1779ff);
          animation: animate2 linear 2s infinite;
          animation-delay: 1s;
        }

        @keyframes animate2 {
          0%
          {
            transform: translateY(-100%);
          }

          100%
          {
            transform: translateY(100%);
          }
        }

        &__button span:nth-child(3) {
          position: absolute;
          bottom: 0;
          right:0;
          width: 100%;
          height: 2px;
          background: linear-gradient(to left, #0c002b,#1779ff);
          animation: animate3 linear 2s infinite;
        }
        @keyframes animate3 {
          0%
          {
            transform: translateX(100%);
          }

          100%
          {
            transform: translateX(-100%);
          }
        }
        &__button span:nth-child(4) {
          position: absolute;
          top: 0;
          left:0;
          width: 2px;
          height: 100%;
          background: linear-gradient(to top, #0c002b,#1779ff);
          animation: animate4 linear 2s infinite;
          animation-delay: 1s;
        }
        @keyframes animate4 {
          0%
          {
            transform: translateY(100%);
          }

          100%
          {
            transform: translateY(-100%);
          }
        }
      
    }
    
    &-planet {
      position: absolute;
      margin-left: 40%;
      width: 30%;
      @media (max-width: 768px) {
        margin-left: 0;  
      }

      &__mars {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
      }
      &__rocket {
  
      }
      #main-content-planet__rocket {

        
        top:60%;
        left:45%;
        position: absolute; 
        width: 10%;
        height: 10vh;
      }
    }
  }
}

/* --------------------- Mobile navigation button ---------------------*/
.main-menu-icon {
  z-index:19;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-menu-icon{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}

.main-menu-icon-line {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: $color-white;
}
.main-menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: $color-white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

.main-menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: $color-white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .main-menu-icon.main-menu-icon-active .main-menu-icon-line {
    background-color: transparent;
  }

  .main-menu-icon.main-menu-icon-active .main-menu-icon-line::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .main-menu-icon.main-menu-icon-active .main-menu-icon-line::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

/* ------------------------ /Mobile navigation button --------------------------*/

/* ------------------------ Mobile navigation container --------------------------*/

.mobile-nav {
  
  z-index: 18;
  display:block;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 1px solid $color-gray;
  width: 350px;
  background-color: rgba(46, 20, 93, 0.8);
  right:-350px;
}

.mobile-nav-active {
  transform:translateX(-100%);
}


.mobile-nav__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
  padding-left: 120px;
  padding-top: 40px;
  color:#f6d142;
}

.mobile-nav {
  &-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 30px;
      }
    &__link {
      text-decoration: none;
      color:$color-white;

      transition: color .2s linear;
      }
    &__link:hover {
      color: $color-gray;
    }
    }
  }
}



/* ------------------------ /Mobile navigation container --------------------------*/
